<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.title }} / {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
</head>
<body>

  <header>
    <div class="container">
      <ul class="menu">
        <li><h1>{{ site.title }}</h1></li>
        <li><a href="{{ site.baseurl }}/" {% if page.id == 'home' %}class="active"{% endif %}>Home</a></li>
        <li><a href="https://github.com/beefoo/climate-wall-docs/blob/master/{{ page.path }}">View source</a></li>
      </ul>
    </div>
  </header>

  <div class="container {{ page.uid }} main">
    <p class="last-updated">Page last updated: {% last_modified_at %Y-%b-%d %}</p>

    {{ content }}
  </div>

</body>
</html>
